

.AllEvents {
background: black;
}

.AllEvents-container {
margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.AllEvents-container-left {
  width: 100%;
  max-width: 925px;
  position: relative;
  left:0; 
      padding: 0 0 186px 0;
}
.AllEvents .menu {
    z-index: 2;
    position: relative;
    height: 45px;
    width: 100%;
}

.AllEvents .menu a:nth-of-type(1) {
position: absolute;
    left: 17px;
    top: 19px;
}

.AllEvents .menu a:nth-of-type(2) {
      position: absolute;
    left: 63px;
    top: 17px;
}

.AllEvents-title {
color: #fff;
font-size: 12px;
font-weight: 400;
line-height: 13px;
width: 652px;
position: relative;
background: black url(../images/AllEvents-background.jpg) 0 0 no-repeat;
    margin: 52px auto 0 auto;
height: 420px;
}

.AllEvents-title-container {
    position: absolute;
    bottom: 43px;
    right: 29px;
}
.AllEvents-title h3 {
  text-align: right;
color: #fdd11d;
font-size: 17px;
font-weight: 400;
line-height: 32.25px;
    margin: 0;
}

div.AllEvents-title h1 {
  text-align: right;
  padding: 0 0 0 0;
margin: -5px 0 0 0;
    font-size: 32px;
font-weight: 400;
line-height: 32px;
    color: #ffdb47;
font-family: "Minion medium";
}

.AllEvents-title h2 {
  text-align: right;
  padding: 0 0 0 0;
margin: 1px 0 0 0;
    font-size: 32px;
font-weight: 400;
line-height: 32px;
font-family: "Minion medium";
}
.AllEvents-title h5 {
  text-align: right;
  padding: 0 0 0 0;
margin: 11px 0 0 0;
font-size: 10px;
font-weight: 400;
line-height: 11.73px;
color: #828282;
}
.AllEvents-content {
  position: relative;
  width: 516px;
padding: 0px 0px 0px 0px;
    margin: 44px auto 0 auto;
}




.AllEvents-developments h1 {
color: #747474;
font-size: 12px;
font-weight: 400;
line-height: 13px;
    padding: 0 0 0 0;
    margin: 43px 0 27px 0;
}

.AllEvents-developments:first-of-type h1 {
    margin: 0px 0 25px 0;
}

.AllEvents-development {

    height: 51px;
    border-bottom: 1px solid #2c2c2c;
    padding: 12px 0 0 0;
}

.AllEvents-development:first-child {
border-top: 1px solid #2c2c2c;
}

div.AllEvents-development:last-of-type {

}
.AllEvents-face {
  float: right;
  background: black url(../images/Developments-face.jpg) 0 0 repeat;
  border-radius: 50%;
  width: 43px;
  height: 42px;
  margin: -1px 0 0 16px
}
.AllEvents-development p {
  text-align: right;
  font-size: 12px;
font-weight: 400;
line-height: 14px;
    padding: 2px;
    margin: 0;
    color: white;
}

.AllEvents-development p:nth-of-type(4) {
color: #fdfdfd;
}
p.AllEvents-date {
      float: left;
   color: #ffdb47;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    padding: 0px 0px 0 0;
    margin: 0 0 0 0;

}

p.past {
color: #959595;
}

p.AllEvents-city {
      float: left;
    padding: 8px 0 0 0;
    margin: 0 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.73px;
    color: #828282;
}

.AllEvents-allDevelopments {
    display: block;
    float: right;
    width: 140px;
    height: 23px;
    border: 1px solid #f5db80;
    border-radius: 30px;
    color: #f5db80;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    padding: 9px 0 0 0;
    margin: 13px -2px 0 0;
}


.AllEvents-videos-container {
      margin: 73px 0 0 0;

}
.AllEvents-videos-container h1 {
color: #636363;
font-size: 12px;
font-weight: 400;
line-height: 13px;
    margin: 0px 0 19px 0;


}

.AllEvents-videos .video {
  width: 250px;
height: 260px;
background-color: white;
border-radius: 2px;
position: relative;
color:black;
    display: inline-block;
    margin: 8px 16px 8px 0;
}

.AllEvents-videos .video:nth-of-type(2n) {
margin-right: 0px;
}

.AllEvents-videos .video:last-of-type {
  margin: 0;
}
.AllEvents-videos .video img {
  width: 100%;
}

.AllEvents-video-icon {
position: absolute;
top:50%;
left: 12px;
width: 32px;
height: 32px;
background: #ffd96f url(../images/Developments-video-icon.png) 10px 9px no-repeat;
border-radius: 50%;
}



.AllEvents-videos .video h1 {
    color: #1f1f1f;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-align: right;
    padding: 4px 18px 0 0;
    margin: 8px 0 3px 0;
        font-family: "Graphik LCG-Black";
}

.AllEvents-videos .video p {
    text-align: right;
  color: #050505;
font-size: 12px;
font-weight: 400;
line-height: 16px;
padding: 0px 18px 0 15px;
margin: 0;
}

.AllEvents-videos .video span {
  display: block;
  text-align: right;
  color: #7b7b7b;
font-size: 9px;
font-weight: 400;
line-height: 16px;
padding: 0 18px 0 0;
}

.AllEvents-videos .video hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 16px 0 6px 0;
    padding: 0;
}


.AllEvents-social a {
display: block;
    float: left;
    width: 54px;
    height: 21px;
    border: 1px solid #313131;

    border-radius: 30px;
    color: #828282;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0 0 11px;
    margin: 74px 3px 0 0;
}

.AllEvents-social a:first-of-type {
  background: black url(../images/AllEvents-social-icon.png) 12px 10px no-repeat;
}

.AllEvents-social a:nth-of-type(2) {
  background: black url(../images/AllEvents-social-icon.png) -58px 9px no-repeat;
}
.AllEvents-social a:nth-of-type(3) {
  background: black url(../images/AllEvents-social-icon.png) -128px 9px no-repeat;
}

.AllEvents-right-menu {
position: absolute;
        width: 275px;
    top: 0;
    right: 0;
    height: 100%;
    background: #fdc937;
}

.AllEvents-right-menu h1 {
      font-size: 2em;
    margin: 0.67em 0;
    text-align: right;
    width: 200px;
    position: absolute;
    right: 30px;
    top: 72px;
    line-height: 33px;
}
.AllEvents-right-menu a {
  display: block;
  height: 63px;
    margin: 0 0 1px 17px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #c7a133;
    background: url(../images/AllEvents-right-arrow.png) 221px 27px no-repeat;
  }

.AllEvents-right-menu a:first-of-type {
  margin-top: 288px;
  }

.AllEvents-right-menu a span {
  position: relative;
    top: 20px;
    left: 13px;
font-size: 13px;
font-weight: bold;
line-height: 16px;
  }

  .AllEvents-allVideos {
    display: block;
    width: 140px;
    height: 20px;
    border: 1px solid #f5db80;
    border-radius: 30px;
    color: #f5db80;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    padding: 11px 0 0 0;
    margin: 21px 0px 0 0;
}

  .AllEvents-allVideos:nth-of-type(2) {
padding: 10px 0 0 0;
    margin: 10px 0px 0 0;
    height: 21px;
}

.AllEvents-menu-small {
  display:none;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

.AllEvents-container-left {
  width: 79%;
}

.AllEvents-content {
  width: 79%;
}

.right-menu h1 {
  width: 50%;
}

.AllEvents-videos .video {
  width: 48%;

}



}

@media screen and (min-width: 768px) and (max-width: 992px) {


.AllEvents .menu {
  display: none;
}

.AllEvents-title {
margin: 308px auto 0 auto;
    background-size: cover;
        width: 100%;
}

.AllEvents-development {
  position: relative;
  height: 98px;
}

.AllEvents-developments h1 {
  margin: 98px 0 27px 8px;
    letter-spacing: 2px;
    font-size: 15px;
}

.AllEvents-development:nth-of-type(5) {
display: none;
}

.AllEvents-title-container {
    right: 72px;
        bottom: 9px;
}

.AllEvents-title h3 {
font-size: 24px;
}

.div.AllEvents-title h1 {
font-size: 37px;
    margin: 4px 0 0 0;
}

.AllEvents-title h2 {
font-size: 40px;
    margin: 19px 0 0 0;
}

.AllEvents-title h5 {
font-size: 14px;
    margin: 19px 0 0 0;
}

.AllEvents-content {
  width: 81%;
      padding: 0px 0px 0px 0px;
          margin: 101px auto 0 auto;
}

.AllEvents-developments:first-of-type h1 {
    letter-spacing: 2px;
    font-size: 15px;
        margin: 0px 0px 25px 15px;
}

.AllEvents-face {
    background-size: 68px;
    width: 68px;
    height: 68px;
    margin: 12px 0 0 19px;
}

p.AllEvents-date {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0 0;
    margin: 15px 0 0 10px;
    letter-spacing: 1px;
}

.AllEvents-development p {
    margin: 6px 0 0 0;
        font-size: 15px;
}

.AllEvents-development p:nth-of-type(1) {
    margin: 14px 0 0 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.AllEvents-development p:nth-of-type(2) {
    font-size: 18px;
    margin: 14px 0 0 0;
}

.AllEvents-development p:nth-of-type(4) {
    width: 340px;
    float: right;
    line-height: 23px;
    padding: 0 0 0 0;
    margin: 4px 0 0 0;
}

p.AllEvents-city {
padding: 2px 0 0 10px;
    font-size: 13px;
}

p.past {
font-size: 21px;
}

.AllEvents-developments:nth-of-type(2) .AllEvents-development {
height: 99px;
}

.AllEvents-developments:nth-of-type(2) .AllEvents-development:nth-of-type(4) {
  display: none;
}

.AllEvents-allVideos {
    width: 192px;
    height: 26px;
    padding: 16px 0 0 0;
    font-size: 12px;
}

.AllEvents-allVideos:nth-of-type(2) {
    width: 192px;
    height: 26px;
    padding: 16px 0 0 0;
    font-size: 12px;
    margin: 31px 0px 0 0;
}

div.AllEvents-videos-container h1:first-child {
      font-size: 14px;
    letter-spacing: 1px;
}

.AllEvents-videos .video {
  width: 49%;
      margin: 8px 8px 4px 0;
      height: auto;
}

.AllEvents-video-icon {
    top: -22px;
    left: 17px;
    width: 44px;
    height: 44px;
    background-position: 13px 13px ;
        background-size: 44%;
    position: relative;
}

.AllEvents-videos .video h1 {
      margin: -24px 0 7px 0;
    line-height: 16px;
    font-size: 16px;
}

.AllEvents-videos .video p {
    line-height: 23px;
    font-size: 15px;
}

.AllEvents-videos .video hr {
    margin: 19px 0 12px 0;
}

.AllEvents-videos .video span {
    padding: 0 37px 15px 0;
    font-size: 12px;
}

.AllEvents-social a {
    display: block;
    float: left;
    width: 68px;
    height: 28px;
    border: 1px solid #313131;
    border-radius: 30px;
    color: #828282;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 0 18px;
    margin: 89px 5px 0 0;
}

.AllEvents-social a:first-of-type {
  background: black url(../images/AllEvents-social-icon.png) 8px 12px no-repeat;
      background-size: 230px;
}
.AllEvents-social a:nth-of-type(2) {
  background: black url(../images/AllEvents-social-icon.png) -96px 12px no-repeat;
        background-size: 230px;
        height: 26px;
            padding: 18px 0 0 17px;
}
.AllEvents-social a:nth-of-type(3) {
  background: black url(../images/AllEvents-social-icon.png) -197px 13px no-repeat;
        background-size: 230px;
            width: 67px;
    height: 26px;
        padding: 18px 0 0 20px;
}

.AllEvents-videos-container {
    margin: 28px 0 0 0;
}

.AllEvents-menu-small {
  display:block;
  position:absolute;
    top: 24px;
    left: 27px;
    z-index: 3;
}

.AllEvents-menu-small a {
  margin-left: 10px;
}

#AllEvents-UpperMenu-show {
  margin-top: 555px;
}

}

@media screen and (min-width: 320px) and (max-width: 767px) {


.AllEvents .menu {
  display: none;
}

.AllEvents-title {
margin: 265px auto 0 auto;
    background-size: cover;
        width: 100%;
        height: 451px;
}

.AllEvents-development {
        border-bottom: 1px solid #313131;
    height: 161px;
    padding: 12px 0 0 20px;
    font-family: "Graphik LCG";
    position: relative;
}

div.AllEvents-development:first-of-type {
    border-top: 1px solid #313131;
    height: 161px;
}

.AllEvents-developments h1 {
    margin: 75px 0 20px 23px;
    letter-spacing: 2px;
    font-size: 15px;
}

.AllEvents-development:nth-of-type(5) {
display: none;
}

.AllEvents-title-container {
        bottom: 5px;
        width: 100%;
        left: 0;
}

.AllEvents-title h3 {
font-size: 24px;
margin: 4px 0 0 22px;
  text-align: left;
}

div.AllEvents-title h1 {
font-size: 37px;
    margin: 4px 0 0 22px;
      text-align: left;
}

.AllEvents-title h2 {
font-size: 30px;
    margin: 19px 0 0 22px;
      text-align: left;
}

.AllEvents-title h5 {
    font-size: 13px;
    margin: 4px 0 0 22px;
    text-align: left;
    letter-spacing: 1px;
}

.AllEvents-content {
  width: 100%;
      padding: 0px 0px 0px 0px;
          margin: 96px auto 0 auto;
}

.AllEvents-developments:first-of-type h1 {
    letter-spacing: 2px;
    font-size: 15px;
        margin: 0px 0px 25px 28px;
}

.AllEvents-face {
    background: black url(../images/Developments-face.jpg) 0 0 repeat;
    background-size: 100% 100%;
    width: 65px;
    height: 65px;
    margin: 10px 0 0 16px;
}

p.AllEvents-date {
    padding: 0px 0 0 0;
    font-size: 16px;
    font-family: "Graphik LCG-Black";
    float: none;
}

.AllEvents-development p {
    margin: 6px 0 0 0;
        font-size: 15px;
}

.AllEvents-development p:nth-of-type(1) {
    padding: 0px 0 0 0;
    font-size: 16px;
    font-family: "Graphik LCG-Black";
    float: none;
        margin: 12px 0 0 0;
    text-align: left;
}

.AllEvents-development p:nth-of-type(2) {
    font-family: "Graphik LCG-Black";
    font-size: 17px;
    margin: 51px 0 0 0;
        text-align: left;
            padding: 0 102px 0 0;
                line-height: 14px;
}

div.AllEvents-developments:first-of-type div.AllEvents-development:first-of-type  p:nth-of-type(2) {
 margin: 47px 0 0 0;

}

.AllEvents-development p:nth-of-type(4) {
margin: 7px 0 0 0;
    line-height: 22px;
    width: 100%;
        font-size: 15px;
    text-align: left;
}

p.AllEvents-city {
      padding: 0 102px 0 0;
    font-size: 15px;
    text-align: left;
margin: 8px 0 0 0;
    top: 41px;
    position: absolute;
    float: none;
}

p.past {
font-size: 21px;
}

.AllEvents-developments:nth-of-type(2) .AllEvents-development {
height: 164px;
}

.AllEvents-developments:nth-of-type(1) .AllEvents-development:nth-of-type(4) {
  display: none;
}

.AllEvents-allVideos {
    width: 276px;
    height: 25px;
    font-size: 13px;
    padding: 17px 0 0 0;
    margin: 23px auto 0 auto;
    position: relative;
    float: none;
}

.AllEvents-allVideos:nth-of-type(2) {
     width: 276px;
    height: 25px;
    padding: 17px 0 0 0;
    font-size: 12px;
     margin: 23px auto 0 auto;
}

div.AllEvents-videos-container h1:first-child {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px 0 23px 21px;
}

.AllEvents-videos {
padding: 0 10px 0px 10px;
}

.AllEvents-videos .video {
  width: 100%;
      margin: 0px 0px 8px 0;
      height: auto;
}

.AllEvents-video-icon {
    top: -22px;
    left: 17px;
    width: 44px;
    height: 44px;
    background-position: 13px 13px ;
        background-size: 44%;
    position: relative;
}

.AllEvents-videos .video h1 {
      margin: -24px 0 7px 0;
    line-height: 16px;
    font-size: 16px;
}

.AllEvents-videos .video p {
    line-height: 23px;
    font-size: 15px;
}

.AllEvents-videos .video hr {
    margin: 19px 0 12px 0;
}

.AllEvents-videos .video span {
    padding: 0 37px 15px 0;
    font-size: 12px;
}

.AllEvents-social a {
    display: block;
    float: left;
    width: 68px;
    height: 28px;
    border: 1px solid #313131;
    border-radius: 30px;
    color: #828282;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 0 18px;
    margin: 89px 5px 0 0;
}

.AllEvents-social a:first-of-type {
  background: black url(../images/AllEvents-social-icon.png) 8px 12px no-repeat;
      background-size: 230px;
}
.AllEvents-social a:nth-of-type(2) {
  background: black url(../images/AllEvents-social-icon.png) -96px 12px no-repeat;
        background-size: 230px;
        height: 26px;
            padding: 18px 0 0 17px;
}
.AllEvents-social a:nth-of-type(3) {
  background: black url(../images/AllEvents-social-icon.png) -197px 13px no-repeat;
        background-size: 230px;
            width: 67px;
    height: 26px;
        padding: 18px 0 0 20px;
}

.AllEvents-videos-container {
    margin: 63px 0 0 0;
}

.video:nth-of-type(4) {
  display:none;
}

.AllEvents-social {
  display: none;
}
.AllEvents-container-left {
  padding: 0 0 20px 0;
}

.AllEvents-menu-small {
  display:block;
  position:absolute;
    top: 24px;
    left: 27px;
    z-index: 3;
}

.AllEvents-menu-small a {
  margin-left: 10px;
}

#AllEvents-UpperMenu-show {
  margin-top: 555px;
}

}